.admincp_r1{ width:800px; height:50px;  margin:0px auto; background:url(../images/admincp_r.png); line-height:50px; }
.admincp_r1 span{ float:left; margin-left:35px; font-size:16px; font-weight:bold;}


.admincp_r3{ width:800px; height:40px;  margin:0px auto; line-height:40px; }
.admincp_r3 img{ float:right; margin-right:30px;}

.admincp_r2{ width:750px; height:570px; margin:0px auto; font-size:18px; padding-bottom:30px; }
.admincp_r2_main{ width:750px; height:120px; border-bottom:1px solid #CCCCCC; margin-top:10px; }
.admincp_r2_main_a{ width:360px; height:120px; float:left; line-height:40px; }
.admincp_r2_main_a img{ width:360px; height:96px; text-align:center; margin-top:10px;}
.admincp_r2_main_b{ width:200px; height:96px; float:left; line-height:24px; margin-left:10px; margin-top:10px;}
.admincp_r2_main_b1{ width:200px; height:48px;}
.admincp_r2_main_b2{ width:200px; height:48px; font-size:13px;}

.admincp_r2_main_c{ width:150px; height:120px; float:left; line-height:120px; text-align:center;}
.admincp_r2_main_c a{ color:#3a98f7;}


.admincp_r4{ width:750px; height:40px;  margin:0px auto; line-height:40px; text-align:right; font-size:14px; font-weight:bold;}