*{margin: 0px;padding: 0px;}
.hongbao img{border:0px;vertical-align: top;}
.hongbao1{width:100%;height:244px;background-color: #d7483b;}
.hongbao2{width:100%;height:1604px;background-color: #fdf7d5;}
.hongbao3{width:100%;height:1204px;background-color: #d33c33;}
.hongbao1_1,.hongbao2_1,.hongbao3_1{width:1000px;margin:0px auto;}
.hongbao3_1 .zhuce{margin-top: 10px;text-align: center;}

