.user_cont_rr{margin:0px auto;width:825px;}
.user_cont_rrr{width:805px;margin:0px 15px 0px 10px;}
.user_cont_r_1{  height:50px; background:url("../images/user_cont_r.png") no-repeat; line-height:50px;}
.user_cont_r_1 span{ float: left; margin-left:45px; font-size:16px; font-weight:bold;}


.user_cont_r_2{  height:60px;}
.user_cont_r_2 ul li { float:left; width:70px; display:inline; margin-left:1px;font-size: 14px;font-weight:bold;text-align:center;}
.user_cont_r_2a{ width:500px; height:30px; line-height:30px;float:left;}

.sel{
	background:url("../images/button_01.png") no-repeat;;
	}
.sel a{
	width:70; display:block;color:#FFFFFF;
	}
.user_cont_r_2b{ width:285px; height:23px; line-height:30px;float:right;}
.user_cont_r_2b .input_1{ width:112px; height:23px; border:1px solid #CCCCCC;}
.user_cont_r_2b img{margin-left:5px;}


.user_cont_r_3{ height:650px;}
.user_cont_r_3 table{width:805px; text-align:center;margin-rihgt:10px;}.user_cont_r_3 table tr{height:50px;}
.user_cont_r_3c .user_cont_r_x_3c3 a{color:#2155CF;}

.user_cont_r_2d{  height:60px; margin:20px 10px 20px 0px; text-align:right;  line-height:60px;}

.user_cont_r_8{padding:20px;margin-top: 25px;margin-right:20px;}
.user_cont_r_8 .con{margin:10px 0px 20px 20px;line-height: 25px;}
.bg_hui{background-color:#f6f6f6;}
















