.user_cont_rr{margin:0px auto;width:1000px;background:#FFFFFF;}
.user_cont_rr1{margin:0px auto;width:1000px;height:700px;background:#FFFFFF;}

.user_cont_rrr{width:930px;margin:0px 25px 0px 25px;}
.user_cont_r_1{  height:50px;background:url("../images/pingtai1.png") no-repeat 0px 13px; line-height:50px;}
.user_cont_r_1 span{ float: left; margin-left:45px; font-size:20px; font-weight:bold;}


.user_cont_r_2{  height:40px;font-size:14px;margi-top:15px;}
.user_cont_r_2 img{margin-left: 10px;}
.user_cont_r_3{padding-bottom: 20px;border-bottom: 1px dashed #aaa;width:100%;text-align: center;}
.user_cont_r_3 img{border:1px solid #ccc;margin-left: 5px;}
.user_cont_r_3 td{padding:5px 0px;}
.user_cont_r_4 {padding:10px 0px;font-size: 14px;}
.user_cont_r_4 span{float: right;}
.user_cont_r_5{width:93%;text-align:left;margin:0px 0px 0px 25px;border-left:1px solid #ccc;border-top:1px solid #ccc;}
.user_cont_r_5 td,.user_cont_r_5 th{padding:10px 0px 10px 5px; border-right:1px solid #ccc;border-bottom:1px solid #ccc;}

.user_cont_r_5 .r_4a{width:15%;}
.user_cont_r_5 .r_4b{width:15%;}
.user_cont_r_5 .r_4c{width:20%;}
.user_cont_r_5 a{color:#0060a5;text-decoration: underline;}
.user_cont_r_6{margin:25px 0px 25px 25px;font-size: 16px;height:30px;}
.user_cont_r_6 span{margin-right: 10px;float:left;}
.user_cont_r_6 .ts_01{width:480px;height:30px;float:left;margin-left:10px;font-size:12px;}
.user_cont_r_6 input{width:275px;height:30px;border:1px solid #aaa;float:left;}
.user_cont_r_7{margin-left: 130px;}
.user_cont_r_7 input{width:130px;height:30px;color:#fff;background:#e33340;border:none;}
.user_cont_r_8{padding:20px;border-top: 1px dashed #aaa;width:890px;margin:25px 25px 0px 25px;}
.user_cont_r_8 .con{margin:10px 0px 20px 20px;line-height: 25px;}
.user_cont_r_8 a{color:#0060a5;}
.user_cont_r_9 img{margin-left: 20px;}
.user_cont_r_10{  height:40px; margin-left: 20px;font-size: 14px;}











